---
import Layout from '../layouts/Layout.astro'
import FindLocation from '../views/find-location'
import CurrentWeather from '../views/current-weather'
import WeatherByHours from '../views/weather-by-hours'
import WeatherByDay from '../views/weather-by-day'
---

<Layout title="Weather App">
  <main
    class="flex flex-col justify-center items-center w-[80%] md:w-[50%] my-10"
  >
    <FindLocation client:load />
    <section class="w-full lg:w-[500px]">
      <CurrentWeather client:visible />
      <WeatherByHours client:visible />
      <WeatherByDay client:visible />
    </section>
  </main>
</Layout>
