---
import Layout from '../layouts/Layout.astro'
import { FindLocation } from '../components/FindLocation'
import { WeatherInfo } from '../components/WeatherInfo'
---

<Layout title="Weather App">
  <main
    class="flex flex-col justify-center items-center w-[80%] md:w-[50%] my-10"
  >
    <FindLocation client:load />
    <WeatherInfo client:visible />
  </main>
</Layout>
