---
import Layout from '../layouts/Layout.astro'
import FindLocation from '../components/FindLocation'
import CurrentWeather from '../components/CurrentWeather'
import WeatherByHours from '../components/WeatherByHours'
---

<Layout title="Weather App">
  <main
    class="flex flex-col justify-center items-center w-[80%] md:w-[50%] my-10"
  >
    <FindLocation client:load />
    <section class="w-full lg:w-[500px]">
      <CurrentWeather client:visible />
      <WeatherByHours client:visible />
    </section>
  </main>
</Layout>
